<script src="../public/js/add.js"></script>

<div class="container">

<div class="card" id="addCard">
  <div id="addHeader" class="card-header text-center">
    <h3>Add New Dance Class</h3>
  </div>

  <div class="card-body"  id="addCardBody">

{{!Enter class name}}
    <div class="row pt-3">
      <div class="col-4">
        <label id="label">Name of class:</label>
      </div>
      <div class="col-8">
        <div class="d-inline-flex align-items-start">
          <search name="title" id="newTitle">
            <textarea id = "addName" type="text" name="className"></textarea>
          </search><br><br>
        </div>
      </div>
    </div>

{{!Enter teacher name}}
  <div class="row pt-4">
    <div class= "col-4">
      <label id="label" for="teacher">Instructor's name:</label>
    </div> 
    <div class="col-6">
      <div class="d-inline-flex align-items-start">
        <select name="teacherName" id="addTeacher">
        <option value="">--Please choose an instructor--</option>
        {{#each instructors}}
          <option id="options" value= {{this.id}}>{{this.name}} {{this.lastName}}</option>
        {{/each}}
      </select>
      </div>
    </div>
  </div><br>

{{!Enter dance type}}
  <div class="row">
    <div class="col-4 ">
      <label id="label">Dance style:</label>
    </div>
    <div class="col-6">
      <div class="d-inline-flex align-items-start">
        <select name="dance" id="addDance">
          <option value="">--Please choose a dance style--</option>
          {{#each dances}}
            <option id="options" value= {{this.id}}>{{this.danceTitle}}</option>
          {{/each}}
        </select>
      </div>
    </div>
  </div><br>


<div class="d-flex justify-content-center pt-3">
  <button id = "add" class="btn" type="button">Add</button>  
</div>

<div id="addInst" class="d-flex justify-content-center pt-3 text-center">
  <p>Don't see your name under the instructors?<br>
    <a href="/teacher">Click here to add a new teacher</a></p>

</div> 

  </div>
  <div class="card-footer text-muted">

  </div>
</div>
</div>

<script>
  $("#add").on("click", function () {
    console.log($("#className").val().trim())
    
     $.ajax("/api/classes/", {
        type: "POST",
        data: 
        {
          classTitle: $("#className").val().trim(),
          danceID: $("#addDance").val().trim(),
          instructorID: $("#addTeacher").val().trim()
          }
      }).then(
        function() {
          console.log("class saved");
          location.href = "http://localhost:8080/index"
        }
      );
    });
  
</script>