<style>

     body {
        background-image: url(dancer-in-studio-wondows.jpg);
        background-size: cover;
    }
  #searchCard {
    margin:auto;
    margin-top: 100px;
    max-width: 500px;
  }

</style>


<div class="card text-center" id="searchCard">
  <div class="card-header">
    <h3>Add New Dance Class</h3>
  </div>

  <div class="card-body">

{{!Enter class name}}
        <label>Name of class:</label>
        <search name="title" id="newTitle">
            <textarea id = "className" type="text" name="className"></textarea>
        </search><br><br>

{{!Enter teacher name}}
      <label for="teacher">Instructor's name:</label>
      <select name="teacherName" id="addTeacher">
        <option value="">--Please choose an instructor--</option>
        {{#each instructors}}
          <option value= {{this.id}}>{{this.name}} {{this.lastName}}</option>
        {{/each}}
      </select><br>

{{!Enter dance type}}
      <label>Dance style:</label>
      <select name="dance" id="addDance">
          <option value="">--Please choose a dance style--</option>
          {{#each dances}}
            <option value= {{this.id}}>{{this.danceTitle}}</option>
          {{/each}}
      </select><br>


<button id = "add" type="button">Add </button>
<a href="http://localhost:8080/teacher">Click here to add a new teacher</a>

{{!-- <a href="http://localhost:8080/index" class="btn btn-primary">Add</a> --}}
  </div>
  <div class="card-footer text-muted">

  </div>
</div>


<script type="text/javascript">
$("#add").on("click", function () {
  console.log($("#className").val().trim())
  
   $.ajax("/api/classes/", {
      type: "POST",
      data: 
      {
        classTitle: $("#className").val().trim(),
        danceID: $("#addDance").val().trim(),
        instructorID: $("#addTeacher").val().trim()
        }
    }).then(
      function() {
        console.log("class saved");
        location.href = "http://localhost:8080/index"
      }
    );
  });

</script>