

<h1>Details of the Selected Dance</h1>

<p> 
    Selected Dance: {{name}}
</p>
<img src="/img/{{name}}.jpg" alt={{name}} width="400" height="250"/>
<ul>
    <li> Instructor's name: {{instrName}} {{instLastName}} </li>
    <li>Location: {{location}} </li>
    <li>Rating: {{rating}}</li>
   <li>Hourly Rate (USD): {{hourlyRate}} </li>
</ul>

