<style media="screen">
body {
background: rgb(142,232,238);
background: radial-gradient(circle, rgba(142,232,238,0.9) 30%, rgba(148,187,233,0.8) 100%);
}

h1 {
    color: #606060;
    text-align: center;
    margin: 30px;
    font-size: 72px;
    font-weight: bolder;
    font-stretch: expanded;
}

p {
  font-size:20px;
}

h2 {
  color:#606060;
}

button {
      color: white;
      background-color: #606060;
      font-size: 20px;
}

</style>

<h1>Let's Dance Together</h1>
<img src="/landing.jpg" alt="dance" class="center"/>

<div id="center">

  <div id="Classes">
    <h2>Classes:</h2>


    <ul id = "classList">

      {{#each classes}}

      <p>
        class name: {{this.classTitle}}, dance id: {{this.danceID}}, instructor ID: {{this.instructorID}}
        {{!-- <button data-classid="{{this.id}}" class="favorite">Details</button> --}}
        <a id="openBtn" href="http://localhost:8080/classes/{{danceID}}/{{instructorID}}" class="btn btn-outline-info">Details</a>


      </p>


     
        {{/each}}
    </ul>


  </div>
</div>



