
<style media="screen">
h2, 
li {
    color: white;
}
</style>

<div id="center">
  <div id="Instructors">
    <h2> Our Instructors:</h2>


    <ul id = "danceList">

      {{#each instructors}}

      <li>
        Instructor's Name: {{this.name}} , {{this.lastName}}. Location: {{this.location}}. Hourly Rate:  {{this.hourlyRate}}. Rating:  {{this.rating}}
        <a id="openBtn" href="http://localhost:8080/instructor/{{id}}" class="btn btn-outline-info">Edit Details</a>


      </li>


     
        {{/each}}
    </ul>


  </div>
</div>