<style>

  #searchCard {
    margin:auto;
    margin-top: 100px;
    max-width: 500px;
  }
      #searchCard {
      margin:auto;
      margin-top: 100px;
      max-width: 550px;
      opacity: 90%;
      box-shadow: 01px 0px 5px 3px rgba(24, 21, 21, 0.39);
      backdrop-filter: blur(20px);
      background-color: rgba(245, 244, 244, 0.863);
      border-style: outset;
      border-color:rgba(37, 35, 35, 0.733);
      border-width: 3px;
    }

    #searchHeader {
      font-family: 'Cinzel Decorative', cursive; 
      font-weight: 700;
      color: white;
      background-color:rgb(4, 4, 78);
      padding-top: 20px;
    }

    #cardBody {
      margin:auto;
      max-width: 550px;
      font-family: 'Cinzel', serif;
      font-weight: 900;
      font-size: 18px;
    }

    button {
      background-color:rgb(4, 4, 78);
      color: white;
      width: 75px;
    }

    p {
      color: white;
    }

    li {
      color: white;
    }

    h3 {
      color: white;
    }


  #searchBtn {
    background-color: teal;
    border-color: teal;
  }

  #searchBtn:hover {
    background-color:rgb(4, 182, 182);
    color: rgb(247, 245, 245);
    border-color: rgb(4, 182, 182);
  }

</style>

<div class="container">

<div class="card" id="searchCard">
  <div id="searchHeader" class="card-header text-center">
    <h3>Search dance class</h3>
  </div>
  <div class="card-body">

    <p>Please search by Instructor:</p>

{{!Select by teacher name}}
      <label for="teacher">Teacher's name:</label>
      <select name="teacherName" id="searchTeacher">
        <option value="">--Select--</option>

    {{#each instructors}}
        <option value= {{this.id}}>{{this.name}} {{this.lastName}}</option>
    {{/each}}
      </select><br>
    <button id = "addByInstr" type="button">Search </button>


   {{!-- <button id = "add" type="button">Search </button> --}}
   {{!-- <a id="openBtn" href="http://localhost:8080/classes/{{danceID}}/{{instructorID}}" class="btn btn-outline-info">Search</a> --}}
  <p>|| OR by Style and Location:||</p>
{{!Select by dance type}}
      <label>Dance style:</label>
      <select name="dance" id="searchStyle">
         <option value="">--Select--</option>
      
    {{#each dances}}
      <option value={{this.id}}>{{this.danceTitle}}</option>
    {{/each}}
      </select><br><br>


{{!Select by location}}
      <label>Location:</label>
      <select name="location" id="searchLocation">
         <option value="">--Select--</option>

    {{#each instructors}}
      <option value={{this.id}}>{{this.location}}</option>
    {{/each}}
      </select><br>



    <button id = "add" type="button">Search </button>

    <button id = "updateSearch" type="button">Update your Search </button>

  </div>

  
  <div class="card-footer text-muted">

  </div>
</div>


<h3> Searched Class</h3>

<div id = "search_results"></div>


<script type="text/javascript">  
  $("#add").on("click", function () {
    $("#search_results").empty();
    var instructor = $("#searchTeacher").val().trim()
    var danceID = $("#searchStyle").val();
    var location = $("#searchLocation").find(":selected").text();
    console.log(location);

    console.log(danceID)
    var searchedCriteria = {location: location, danceID: danceID};
    $.ajax("/api/classes/search", {
        method: "POST",
        data: searchedCriteria
    }).then(response => {
        {{!-- return response.json(); --}}
        console.log(response);
        console.log(response.length!=0)
        if(response.length!=0) {
          console.log(response[0].classTitle)
          console.log(response[0].Instructor.name + " " + response[0].Instructor.lastName );
          var clDiv = $("<div class='classes'>");
          for(var i= 0; i<response.length;i++) {
            console.log(response[i].classTitle)
            var a = $("<li>");
            var classTitle = a.text(response[i].classTitle);
            var classDetails = $("<p>").text("Instructor: " + response[i].Instructor.name + " " + response[i].Instructor.lastName + ", Rating: " + 
              response[i].Instructor.rating + ", Price per hour: " + response[i].Instructor.hourlyRate + " USD")
            clDiv.append(classTitle)
            clDiv.append(classDetails)
          }
          $("#search_results").append(clDiv);
        }
        else {
          var clDiv = $("<div class='classes'>");
          var p2 = $("<p>").text("No classes are found for this location. Please choose another location")
          clDiv.append(p2);
          $("#search_results").append(clDiv);
        }

      
        })

  });

    $("#addByInstr").on("click", function () {
      $("#search_results").empty();
    var instructorID = $("#searchTeacher").val();
    console.log(instructorID);

    var searchedCriteria = {instructorID: instructorID};
    $.ajax("/api/classes/instructorIDSearch", {
        method: "POST",
        data: searchedCriteria
    }).then(response => {
        console.log(response);
        console.log(response[0].classTitle)
        var clDiv = $("<div class='classes'>");
            for(var i= 0; i<response.length;i++) {
            console.log(response[i].classTitle)
            var a = $("<li>");
            var classTitle = a.text(response[i].classTitle);
            var classDetails = $("<p>").text("Instructor: " + response[i].Instructor.name + " " + response[i].Instructor.lastName + ", Rating: " + 
              response[i].Instructor.rating + ", Price per hour: " + response[i].Instructor.hourlyRate + " USD")
            clDiv.append(classTitle)
            clDiv.append(classDetails)
          }
          $("#search_results").append(clDiv);

        })

  });

  $("#updateSearch").on("click", function () {
    location.reload();
  });

</script>




