<script src="../public/js/search2.js"></script>

<div class="container">

<div class="card" id="searchTwoCard">
  <div id="searchTwoHeader" class="card-header text-center">
    <h3>Search dance class</h3>
  </div>
  <div id="searchTwoBody"class="card-body">

    <p id="label" class="text-center">Please search by Instructor:</p>

{{!Select by teacher name}}
      <label id="label" class="col-4 text-right" for="teacher">Teacher's name:</label>
      <select name="teacherName" id="searchTeacher">
        <option value="">--Select--</option>

    {{#each instructors}}
        <option value= {{this.id}}>{{this.name}} {{this.lastName}}</option>
    {{/each}}
      </select><br><br>

      <div class="d-flex justify-content-center">
    <button id = "addByInstr" class="btn" type="button" data-toggle="collapse" data-target="#demo">Search </button>
      </div><br>

  <p id="label" class="text-center">|| OR || <br> by Style and Location:</p>
{{!Select by dance type}}
      <label id="label" class="col-4 text-right" >Dance style:</label>
      <select name="dance" id="searchStyle">
         <option value="">--Select--</option>
      
    {{#each dances}}
      <option value={{this.id}}>{{this.danceTitle}}</option>
    {{/each}}
      </select><br><br>


{{!Select by location}}
      <label id="label" class="col-4 text-right" s>Location:</label>
      <select name="location" id="searchLocation">
         <option value="">--Select--</option>

    {{#each instructors}}
      <option value={{this.id}}>{{this.location}}</option>
    {{/each}}
      </select><br><br>


<div id="buttonGrp" class="d-flex justify-content-center">
    <button id = "add" class="btn" type="button" data-toggle="collapse" data-target="#demo">Search </button>
    <button id = "updateSearch" class="btn" type="button">Update your Search </button>
</div>
  </div>

  
  <div class="card-footer text-muted">

  </div>
</div>
<br>


<div id="demo" class="container collapse">
  <div class="card text-center" id="resultCard">
  <div id="searchTwoHeader">
    <h3> Searched Class</h3>
  </div>

  <div id = "search_results"></div>

  <div class="card-footer text-muted">
  </div>
  </div>
</div>
<script>
  /* eslint-disable no-undef */
$("#add").on("click", function () {
    $("#search_results").empty();
    // eslint-disable-next-line no-unused-vars
    var instructor = $("#searchTeacher").val().trim()
    var danceID = $("#searchStyle").val();
    var location = $("#searchLocation").find(":selected").text();
    console.log(location);

    console.log(danceID)
    var searchedCriteria = {location: location, danceID: danceID};
    $.ajax("/api/classes/search", {
        method: "POST",
        data: searchedCriteria
    }).then(response => {
        // return response.json(); //
        console.log(response);
        console.log(response.length!=0)
        if(response.length!=0) {
          console.log(response[0].classTitle)
          console.log(response[0].Instructor.name + " " + response[0].Instructor.lastName );
          var clDiv = $("<div class='classes'>");
          for(var i= 0; i<response.length;i++) {
            console.log(response[i].classTitle)
            var a = $("<li>");
            var classTitle = a.text(response[i].classTitle);
            var classDetails = $("<p>").text("Instructor: " + response[i].Instructor.name + " " + response[i].Instructor.lastName + ", Rating: " + 
              response[i].Instructor.rating + ", Price per hour: " + response[i].Instructor.hourlyRate + " USD")
            clDiv.append(classTitle)
            clDiv.append(classDetails)
          }
          $("#search_results").append(clDiv);
        }
        else {
          // eslint-disable-next-line no-redeclare
          var clDiv = $("<div class='classes'>");
          var p2 = $("<p>").text("No classes are found for this location. Please choose another location")
          clDiv.append(p2);
          $("#search_results").append(clDiv);
        }

      
        })

  });

    $("#addByInstr").on("click", function () {
      $("#search_results").empty();
    var instructorID = $("#searchTeacher").val();
    console.log(instructorID);

    var searchedCriteria = {instructorID: instructorID};
    $.ajax("/api/classes/instructorIDSearch", {
        method: "POST",
        data: searchedCriteria
    }).then(response => {
        console.log(response);
        console.log(response[0].classTitle)
        var clDiv = $("<div class='classes'>");
            for(var i= 0; i<response.length;i++) {
            console.log(response[i].classTitle)
            var a = $("<li>");
            var classTitle = a.text(response[i].classTitle);
            var classDetails = $("<p>").text("Instructor: " + response[i].Instructor.name + " " + response[i].Instructor.lastName + ", Rating: " + 
              response[i].Instructor.rating + ", Price per hour: " + response[i].Instructor.hourlyRate + " USD")
            clDiv.append(classTitle)
            clDiv.append(classDetails)
          }
          $("#search_results").append(clDiv);

        })

  });

  $("#updateSearch").on("click", function () {
    location.reload();
  });

</script>