<script src="../public/js/search2.js"></script>

<div class="container">

<div class="card" id="searchTwoCard">
  <div id="searchTwoHeader" class="card-header text-center">
    <h3>Search dance class</h3>
  </div>
  <div id="searchTwoBody"class="card-body">

    <p id="label" class="text-center">Please search by Instructor:</p>

{{!Select by teacher name}}
      <label id="label" class="col-4 text-right" for="teacher">Teacher's name:</label>
      <select name="teacherName" id="searchTeacher">
        <option value="">--Select--</option>

    {{#each instructors}}
        <option value= {{this.id}}>{{this.name}} {{this.lastName}}</option>
    {{/each}}
      </select><br><br>

      <div class="d-flex justify-content-center">
    <button id = "addByInstr" class="btn" type="button" data-toggle="collapse" data-target="#demo">Search </button>
      </div><br>

   {{!-- <button id = "add" type="button">Search </button> --}}
   {{!-- <a id="openBtn" href="http://localhost:8080/classes/{{danceID}}/{{instructorID}}" class="btn btn-outline-info">Search</a> --}}
  <p id="label" class="text-center">|| OR || <br> by Style and Location:</p>
{{!Select by dance type}}
      <label id="label" class="col-4 text-right" >Dance style:</label>
      <select name="dance" id="searchStyle">
         <option value="">--Select--</option>
      
    {{#each dances}}
      <option value={{this.id}}>{{this.danceTitle}}</option>
    {{/each}}
      </select><br><br>


{{!Select by location}}
      <label id="label" class="col-4 text-right" s>Location:</label>
      <select name="location" id="searchLocation">
         <option value="">--Select--</option>

    {{#each instructors}}
      <option value={{this.id}}>{{this.location}}</option>
    {{/each}}
      </select><br><br>


<div id="buttonGrp" class="d-flex justify-content-center">
    <button id = "add" class="btn" type="button" data-toggle="collapse" data-target="#demo">Search </button>
    <button id = "updateSearch" class="btn" type="button">Update your Search </button>
</div>
  </div>

  
  <div class="card-footer text-muted">

  </div>
</div>
<br>


<div id="demo" class="container collapse">
  <div class="card text-center" id="resultCard">
  <div id="searchTwoHeader">
    <h3> Searched Class</h3>
  </div>

  <div id = "search_results"></div>

  <div class="card-footer text-muted">
  </div>
  </div>
</div>
