<style>

  #searchCard {
    margin:auto;
    margin-top: 100px;
    max-width: 500px;
  }
      #searchCard {
      margin:auto;
      margin-top: 100px;
      max-width: 550px;
      opacity: 90%;
      box-shadow: 01px 0px 5px 3px rgba(24, 21, 21, 0.39);
      backdrop-filter: blur(20px);
      background-color: rgba(245, 244, 244, 0.863);
      border-style: outset;
      border-color:rgba(37, 35, 35, 0.733);
      border-width: 3px;
    }

    #searchHeader {
      font-family: 'Cinzel Decorative', cursive; 
      font-weight: 700;
      color: white;
      background-color:rgb(4, 4, 78);
      padding-top: 20px;
    }

    #cardBody {
      margin:auto;
      max-width: 550px;
      font-family: 'Cinzel', serif;
      font-weight: 900;
      font-size: 18px;
    }

     #add {
      background-color:rgb(4, 4, 78);
      color: white;
      width: 75px;
    }

  #searchBtn {
    background-color: teal;
    border-color: teal;
  }

  #searchBtn:hover {
    background-color:rgb(4, 182, 182);
    color: rgb(247, 245, 245);
    border-color: rgb(4, 182, 182);
  }

</style>

<div class="container">

<div class="card" id="searchCard">
  <div id="searchHeader" class="card-header text-center">
    <h3>Search dance class</h3>
  </div>
  <div class="card-body">

    <p>Please search by Instructor:</p>

{{!Select by teacher name}}
      <label for="teacher">Teacher's name:</label>
      <select name="teacherName" id="searchTeacher">

    {{#each instructors}}
        <option value= {{this.id}}>{{this.name}} {{this.lastName}}</option>
    {{/each}}
      </select><br>
    <button id = "addByInstr" type="button">Search </button>


   {{!-- <button id = "add" type="button">Search </button> --}}
   {{!-- <a id="openBtn" href="http://localhost:8080/classes/{{danceID}}/{{instructorID}}" class="btn btn-outline-info">Search</a> --}}
  <p>|| OR by Style and Location:||</p>
{{!Select by dance type}}
      <label>Dance style:</label>
      <select name="dance" id="searchStyle">
      
    {{#each dances}}
      <option value={{this.id}}>{{this.danceTitle}}</option>
    {{/each}}
      </select><br><br>


{{!Select by location}}
      <label>Location:</label>
      <select name="location" id="searchLocation">

    {{#each instructors}}
      <option value={{this.id}}>{{this.location}}</option>
    {{/each}}
      </select><br>

{{!Select by price}}
    {{!-- <label>Price per Hour:</label>
    <select name="price" id="searchPrice">
    
    {{#each instructors}}
      <option value={{this.id}}>{{this.hourlyRate}}</option>
    {{/each}}
      </select><br> --}}

{{!Select by rating -- commented out star icon}}
    {{!-- <label>Rating:</label>
    <select name="rating" id="searchRating" placeholder="Out of 5 stars">
      
    {{#each instructors}}
      <option value={{this.id}}>{{this.rating}} </option>
    {{/each}}
      </select><br><br> --}}


    <button id = "add" type="button">Search </button>
    {{!-- <a id="search" href="" class="btn btn-primary">Search</a> --}}

  </div>

  
  <div class="card-footer text-muted">

  </div>
</div>


<h3> Searched Class</h3>

<div id = "search_results"></div>


<script type="text/javascript">  
  $("#add").on("click", function () {
    var instructor = $("#searchTeacher").val().trim()
    var danceID = $("#searchStyle").val()
    console.log(danceID)
    var searchedCriteria = {location: "Redmond", danceID: danceID};
    $.ajax("/api/classes/search", {
        method: "POST",
        data: searchedCriteria
    }).then(response => {
        {{!-- return response.json(); --}}
        console.log(response);
        console.log(response[0].classTitle)
        console.log(response[0].Instructor.name + " " + response[0].Instructor.lastName );
        var clDiv = $("<div class='classes'>");
        for(var i= 0; i<response.length;i++) {
          console.log(response[i].classTitle)
          var a = $("<li>");
          var p2 = a.text(response[i].classTitle);
          clDiv.append(p2)
        }
        $("#search_results").append(clDiv);

      
        })

  });

</script>




