
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h3 class="display-4 text-center">Details</h3>
    </div>
</div>


<div class="classDetails">
    <table class="table table-secondary table-striped">
        <tbody>
            <tr id="form-row">
                <td scope="row" class="border-bottom">Teacher Name</td>
                <td id = "teacherName" class="border-bottom">{{this.teacherName}}</td>
            </tr>

            <tr id="form-row">
                <td scope="row" class="border-bottom">Dance Style</td>
                <td id="danceStyle" class="border-bottom">{{this.danceStyle}}</td>
            </tr>

            <tr id="form-row">
                <td scope="row" class="border-bottom">Location</td>
                <td id ="location" class="border-bottom">{{this.location}}</td>
            </tr>

            <tr id="form-row">
                <td scope="row" class="border-bottom">Hourly Rate</td>
                <td id="hourlyRate" class="border-bottom">{{this.hourlyRate}}</td>
            </tr>

            <tr id="form-row">
                <td scope="row" class="border-bottom">Rating</td>
                <td id="rating" class="border-bottom">{{this.rating}}</td>
            </tr>

        <button class="save"> Save </button>

        </tbody>
    </table>
</div>