<div class="container">


            <div id = "newCard" class="card">
                <div id="newHeader" class="card-header text-center">
                    <h3>Details</h3>
                </div>

                <img id="danceImg" src="/img/{{name}}.jpg" alt={{name}} width="400" height="300" class="card-img-top">

                <div class="card-body" id="newCardBody">
                    <h5 class="card-title">{{this.classTitle}}</h5>
                </div>

                <ul class="list-group list-group-flush" id="newCardBody">
                    <li class="list-group-item">Instructor Name: {{this.instrName}} {{this.instLastName}}</li>
                    <li class="list-group-item">Dance Style: {{this.name}}</li>
                    <li class="list-group-item">Location: {{this.location}}</li>
                    <li class="list-group-item">Hourly Rate (USD): {{this.hourlyRate}}</li>
                    <li class="list-group-item">Rating: {{this.rating}}</li>
                </ul>

                <div id="addInst" class="d-flex justify-content-center pt-3">
                    <a href="http://localhost:8080/search">Back to results</a>
                </div>
                <div class="card-footer text-muted">
                </div>

            </div>

</div>